@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@media only screen and (min-width: 35rem) {
  body {
    max-width: 960px;
    margin: 0 auto;
    font-family: "Noto Sans", sans-serif;
  }

  header {
    margin-top: 1rem;
  }

  header h1 {
    font-size: 32px;
    text-align: left;
    padding-left: 1rem;
  }

  header img {
    float: right;
  }
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
}

header h1 {
  font-size: 24px;
  text-align: center;
  padding-left: 1rem;
}

h2 {
  font-size: 24px;
  padding-left: 1.5rem;
}

header,
footer {
  border-top: 2px solid #3498db;
  background-color: #34495e;
  color: white;
  text-align: center;
  padding: 0.25rem;
  border-radius: 10px;
  margin-right: 1rem;
  margin-left: 1rem;
}

footer {
  margin-top: 4rem;
}

header img {
  height: 246px;
  width: 200px;
  margin: 0.5rem 0.5rem auto;
  box-shadow: 5px 6px 6px #111;
  border-radius: 5px;
}

#byuLink {
  color: white;
}

li {
  margin-left: 00.5rem;
}
