@media only screen and (min-width: 64rem) {
  nav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#807fbf+2,4c4c99+100 */
    background: #807fbf; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #807fbf 2%,
      #4c4c99 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #807fbf 2%,
      #4c4c99 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #807fbf 2%,
      #4c4c99 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#807fbf', endColorstr='#4c4c99',GradientType=0 ); /* IE6-9 */
  }

  #logo {
    margin-top: 1rem;
    max-width: 156px;
    max-height: 156px;
  }

  nav button {
    display: none;
  }

  nav ul {
    margin-left: 2%;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.6rem 1rem;
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 17.53%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
  }

  nav ul.hide {
    display: block;
  }

  .heroArticle {
    grid-column: 1 / 3;
    border-radius: 2%;
    height: 32rem;
  }

  .stats {
    position: absolute;
    top: 425px;
    left: 145px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #0388a6;
    box-shadow: 0 0 30px #111;
    opacity: 0.8;
    width: 18rem;
  }

  #map {
    position: relative;
    height: 400px;
    width: 50%;
    margin-right: 150px;
  }

  #mapLoco {
    padding: 1rem;
    font-size: 1.2em;
    text-align: center;
  }

  mapComtent {
    border-radius: 10px;
  }
}
