/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Raleway&family=Roboto+Slab&display=swap"); */

/* Grid */
.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / 4;
}

@media screen and (max-width: 35.5rem) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

/* Nav  */
nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #fff;
}

nav {
  text-align: center;
  background-color: #4c4c99;
  font-family: "Roboto Slab", sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

nav ul li.active a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

nav ul.hide {
  display: none;
}

.active {
  color: #f2e205;
}

header img {
  width: 300px;
  height: 250px;
}

header,
footer {
  padding: 0.25rem;
}
header img {
  width: 125px;
  height: 125px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 1rem;
}

footer {
  background: #807fbf; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #807fbf 2%,
    #4c4c99 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #807fbf 2%,
    #4c4c99 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #807fbf 2%,
    #4c4c99 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#807fbf', endColorstr='#4c4c99',GradientType=0 ); /* IE6-9 */
  height: 5vh;
  color: #fff;
  margin-top: 1rem;
  text-align: center;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 65.5em;
  padding: 1em 0;
}

article {
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  background-color: #0388a6;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  margin: 8px 12px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  height: 30rem;
}

#byuLink {
  color: white;
}

nav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#807fbf+2,4c4c99+100 */
  background: #807fbf; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #807fbf 2%,
    #4c4c99 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #807fbf 2%,
    #4c4c99 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #807fbf 2%,
    #4c4c99 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#807fbf', endColorstr='#4c4c99',GradientType=0 ); /* IE6-9 */
}

#logo {
  margin-top: 1rem;
  max-width: 156px;
  max-height: 156px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 6;
}

#headerImg {
  position: absolute;
  left: 0;
  height: 55%;
  width: 100%;
}

.mainBtns {
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: #000 solid 1px;
  margin-right: 25px;
  border: #444 solid 4px;
  width: 125px;
  height: 80px;
  color: #fff;
  background-color: #445ba9;
  opacity: 0.95;
  border-radius: 10%;
}

.one {
  grid-column: 1 / 8;
  grid-row: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  text-align: center;
}

#mImg {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 97%;
}

#actionMains {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  bottom: 190px;
}

.mainBtn {
  text-align: center;
  margin-right: 25px;
  border: #444 solid 4px;
  width: 125px;
  height: 50px;
  color: #fff;
  background-color: #445ba9;
  opacity: 0.95;
  border-radius: 10%;
}

.two {
  grid-column: 1 / 8;
  grid-row: 2/3;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.three {
  grid-column: 1/8;
  grid-row: 3;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1rem;
  text-align: center;
}

.four {
  grid-column: 1/8;
  grid-row: 4;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1rem;
  text-align: center;
}

.five {
  display: flex;
  grid-column: 1/8;
  grid-row: 5;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1rem;
  text-align: center;
}

.flex {
  display: flex;
  text-align: center;
  justify-content: center;
}

#forecastContainer {
  text-align: center;
  width: 100%;
  height: 100%;
}

.flex-col {
  font-size: 1.3rem;
}

.busImg {
  width: 150px;
  height: 150px;
}

.businessContainer {
  margin-top: 10px;
  border: #111 solid 4px;
  background-color: #807fbf;
  border-radius: 10px;
}

.busImg {
  width: 150px;
  height: 150px;
}

.six {
  grid-column: 1/7;
  grid-row: 6;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1rem;
  text-align: center;
}

.MapContent {
  background-color: #ccc;
  color: #444;
  margin: 0;
  font-style: italic;
  padding: 0;
  border: 1px solid #000;
}

.grid-item {
  grid-column: 1/6;
  grid-row: 4;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1rem;
  text-align: center;
}

.grid-item2 {
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.heroArticle {
  grid-column: 1 / 3;
  border-radius: 2%;
  height: 32rem;
}

.stats {
  position: absolute;
  top: 425px;
  left: 145px;
  background: radial-gradient(#eee, #4567aa);
  border: 1px solid #0388a6;
  box-shadow: 0 0 30px #111;
  opacity: 0.8;
  width: 18rem;
}

#map {
  display: none;
  position: relative;
  height: 400px;
  width: 50%;
  margin-right: 150px;
}

#mapLoco {
  padding: 1rem;
  font-size: 1.2em;
  text-align: center;
}

/* Gallery CSS */
.box {
  width: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  padding: 3%;
  background-color: #a1a0cc;
  border-radius: 15px;
}

img {
  border-radius: 5px;
}

.box:hover {
  box-shadow: 8px 16px 16px 0 rgba(0, 0, 0, 0.3);
}

.container {
  background-color: #0388a6;
}

.gallery {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
}

figure {
  margin: 10px;
  width: 300px;
  height: 450px;
  margin-bottom: 1rem;
}

figure img,
figcaption {
  width: 100%;
  height: 325px;
}

img {
  width: 50%;
}

/*********** FORM **********/
form {
  grid-column: 1/8;
  text-align: center;
}

form fieldset {
  display: inline-block;
}

input:required:valid {
  border-color: green;
  border-left: green solid 6px;
}
input:invalid {
  border-color: red;
  border-left: red solid 6px;
}

.bo {
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form fieldset {
  text-align: center;
  margin: 2rem 0;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: 0.5rem 2%;
  width: 90%;
}

form legend {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.bo,
form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: 1.2rem;
}

form label.top input {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

input.bo,
textarea.bo {
  width: 100%;
}

select.bo {
  width: 100%;
}

#more {
  display: none;
}
