@media only screen and (min-width: 64rem) {
  nav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,1e5799+0,04bfbf+0,0388a6+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #1e5799 0%,
      #1e5799 0%,
      #04bfbf 0%,
      #0388a6 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #1e5799 0%,
      #1e5799 0%,
      #04bfbf 0%,
      #0388a6 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #1e5799 0%,
      #1e5799 0%,
      #04bfbf 0%,
      #0388a6 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#0388a6',GradientType=0 ); /* IE6-9 */
  }

  #logo {
    margin-top: 1rem;
    max-width: 156px;
    max-height: 156px;
  }

  nav button {
    display: none;
  }

  nav ul {
    margin-left: 2%;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.6rem 1rem;
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 14.23%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
  }

  nav ul.hide {
    display: block;
  }

  .heroArticle {
    grid-column: 1 / 3;
    border-radius: 2%;
    height: 32rem;
  }

  .stats {
    position: absolute;
    top: 425px;
    left: 145px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #0388a6;
    box-shadow: 0 0 30px #111;
    opacity: 0.8;
    width: 18rem;
  }

  /* five day forecast css */

  .weatherIcon {
    width: 95px;
    height: 75px;
  }

  .weatherIcon {
    width: 95px;
    height: 75px;
  }

  #forecastContainer {
    grid-column: 1 / 4;
    grid-row: 2;
    height: 100%;
  }

  .flex {
    display: flex;
    /* flex-direction: row; */
    /* let us combine row and wrap with flow */
    flex-flow: row wrap;
    text-align: center;
  }

  .flex-col {
    flex: 1 1 auto;
    background-color: #2561a0;
  }
  .flex-col,
  .column-col,
  .grid-col {
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
  }

  .flex,
  .column,
  .grid {
    border-right: 1px solid #333;
  }

  .col-head {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    text-align: center;
  }

  .data {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8rem;
    text-align: center;
  }

  .col-head,
  th {
    font-weight: 700;
    font-size: 1rem;
    background-color: #0388a6;
    color: white;
  }
}
