/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Raleway&family=Roboto+Slab&display=swap"); */

/* Grid */
.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / 4;
}

@media screen and (max-width: 35.5rem) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

/* Nav  */
nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #fff;
}

nav {
  margin-top: 3rem;
  text-align: center;
  background-color: #0388a6;
  font-family: "Roboto Slab", sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

nav ul li.active a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

nav ul.hide {
  display: none;
}

.active {
  color: #f2e205;
}

header img {
  width: 200px;
  height: 200px;
}

header,
footer {
  padding: 0.25rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 1rem;
}

footer {
  height: 5vh;
  background-color: #0388a6;
  color: #fff;
  margin-top: 1rem;
  text-align: center;
}

/* Demo Specific Styles */

body {
  margin: 0 auto;
  max-width: 65.5em;
  padding: 1em 0;
}

header,
aside,
article {
  align-items: center;
  justify-content: center;
  height: 15vh;
}

/*  */
article p,
article h2 {
  text-align: center;
}

article {
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  background-color: #0388a6;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  margin: 8px 12px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  height: 28rem;
}

article h3 {
  text-align: center;
}

img {
  width: 100%;
}

.heroArticle {
  grid-column: 1 / 4;
  border-radius: 2%;
  height: 32rem;
}

.heroArticle img {
  height: 20rem;
  width: 45%;
  margin: 10px auto 20px;
  display: block;
  text-align: center;
}

.linkToHero {
  color: #fff;
}

.heroArticle p {
  font-size: 1em;
}

.sidebar-left {
  grid-column: 1 / 4;
  padding: 10px;
  height: 42rem;
}

section {
  text-align: center;
  max-width: 20rem;
}

#stats {
  position: absolute;
  top: 355px;
  left: 40px;
  background: radial-gradient(#eee, #4567aa);
  border: 1px solid #0388a6;
  box-shadow: 0 0 30px #111;
  opacity: 0.8;
  width: 18rem;
}

.sidebar-left img {
  height: 27rem;
  border-radius: 15px;
  width: 100%;
}

/* Main towns background */
.mainTowns {
  font-style: italic;
  font-size: 1.1em;
}

#popTitle {
  margin-left: 5%;
  border-bottom: #fff 4px solid;
  width: 90%;
  text-align: center;
}

.popularRead {
  text-align: center;
}

.topic {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 1rem;
  margin-top: 1rem;

  padding-top: 1rem;
}

.sidebar-left p {
  font-size: 1.2em;
}

/* five day forecast css */

.flex {
  display: flex;
  /* flex-direction: row; */
  /* let us combine row and wrap with flow */
  flex-flow: row wrap;
  margin: 1rem;
}

#forcastTitle {
  display: block;
}

.flex-col {
  flex: 1 1 auto;
  background-color: #2561a0;
}
.flex-col,
.column-col,
.grid-col {
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  text-align: center;
}

.flex,
.column,
.grid {
  border-right: 1px solid #333;
}

.col-head {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #333;
  text-align: center;
}

.data {
  display: block;
  padding: 0 5px 5px;
  font-size: 1rem;
  text-align: center;
}

.col-head,
th {
  font-weight: 700;
  font-size: 1rem;
  background-color: #0388a6;
  color: white;
}
